
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.4
colorama==0.4.4
comet-ml==3.25.0
configobj==5.0.6
cycler==0.11.0
docopt==0.6.2
dulwich==0.20.32
everett==3.0.0
Flask==2.0.3
fonttools==4.29.1
idna==3.3
importlib-resources==5.4.0
itsdangerous==2.1.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
kiwisolver==1.3.2
MarkupSafe==2.1.0
matplotlib==3.5.1
numpy==1.22.2
nvidia-ml-py3==7.352.0
packaging==21.3
Pillow==9.0.1
pipreqs==0.4.11
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
scikit-learn==1.0.2
scipy==1.8.0
semantic-version==2.8.5
seqfold==0.7.11
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
torch==1.10.2
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.8
websocket-client==1.2.3
Werkzeug==2.0.3
wrapt==1.13.3
wurlitzer==3.0.2
yarg==0.1.9
zipp==3.7.0